In [1]:
import pandas as pd
import numpy as np
import os
import glob

In [2]:
from TravelDashboard.data import preproc_flight_data, get_data, save_processed_data

In [3]:
# get path of all .csv files (history from API crawling)
PH_old = glob.glob(os.path.join(os.path.dirname(os.path.abspath('')),"raw_data", "preproc_data_test", "*.csv"))
PHJP_new = glob.glob(os.path.join(os.path.dirname(os.path.abspath('')),"raw_data", "preproc_data", "*.csv"))

In [4]:
PH_old_u = [int(word[-14:-4]) for word in PH_old]
PHJP_new_u = [int(word[-14:-4]) for word in PHJP_new]

In [5]:
pd.set_option('display.float_format', lambda x: '%.f' % x)
PH_df = pd.DataFrame(PH_old_u, columns=["unix"])
PHJP_df = pd.DataFrame(PHJP_new_u, columns=["unix"])

In [10]:
df_lftout = pd.merge(PH_df, PHJP_df, on="unix", how="outer", indicator=True
              ).query('_merge=="left_only"')

In [22]:
# Fiter for data where my script was running correctly again
df_lftout = df_lftout[(df_lftout._merge=="left_only")&(df_lftout.unix>1654706989)].sort_values(by="unix", ascending=False).copy()

In [23]:
df_lftout

            unix     _merge
1883  1654721999  left_only
1546  1654721880  left_only
4389  1654721757  left_only
111   1654721640  left_only
2889  1654721520  left_only
...          ...        ...
2509  1654707842  left_only
3747  1654707716  left_only
3023  1654707604  left_only
2517  1654707474  left_only
3337  1654707118  left_only

[86 rows x 2 columns]

In [25]:
import datetime
datetime.datetime.fromtimestamp(1654721999)

datetime.datetime(2022, 6, 8, 22, 59, 59)

In [35]:
datetime.datetime.fromtimestamp(1654707118)

datetime.datetime(2022, 6, 8, 18, 51, 58)

In [28]:
idx = df_lftout.index.to_list()

In [29]:
missing_files = [PH_old[i] for i in idx]

In [33]:
missing_files[0][-14:]

'1654721999.csv'

In [34]:
for path in missing_files:
    pd.read_csv(path, index_col=0).to_csv("/home/philipp_heitmann/TravelDashboard/raw_data/preproc_data/"+path[-14:])